<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>业务管理>>业务工作档案>>上传</title>
    <link rel="stylesheet" href="../../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/businessArchivesUpload.css" />
</head>

<body>
    <div class="upload" id="upload">
        <i class="layui-icon"></i>
        <p>点击上传，或将文件拖拽到此处</p>
        <span>只支持doc/docx类型</span>
    </div>
</body>
<script src="../../assets/lib/layui/layui.js"></script>
<script>
    layui.config({
        base: "../../assets/"
    }).extend({
        http: "api/http",
        businessArchivesUpload: "js/components/businessArchivesUpload",
    }).use("businessArchivesUpload");
</script>

</html>