<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>设备巡查>>观测仪器>>对比记录</title>
    <link rel="stylesheet" href="../../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/instContrastList.css" />
</head>

<body>
    <div class="layui-hide" id="table" lay-filter="table"></div>
    <script type="text/html" id="toolbar">
        <a class="layui-btn layui-btn-xs" lay-event="look">查看附件</a>
    </script>
</body>
<script src="../../assets/lib/layui/layui.js"></script>
<script>
    layui.config({
        base: "../../assets/"
    }).extend({
        http: "api/http",
        getFn: "../../store/getFn",
        tabList: "js/common/tabList",
        instContrastList: "js/components/instContrastList"
    }).use("instContrastList");
</script>

</html>