html {
    height: 100%;
}

body {
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    /* overflow: hidden; */
}

.print {
    width: 100%;
    padding: 5px 15px;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

.print .layui-item {
    margin-bottom: 0px;
}

.print .line {
    width: 285px;
}

.print .layui-input {
    width: 120px;
    height: 30px;
}

/* 左侧图表 */
.charts {
    width: 300px;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 40px;
    z-index: 2;
}

.charts_box {
    width: 320px;
    height: calc(100vh - 40px);
    overflow: auto;
}

.charts_box .line {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    display: none;
}

/* 表1 */
.table_box {
    width: 100%;
    padding-left: 300px;
    padding-right: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.table_head {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 20px 0;
}

.table_date {
    height: 32px;
    line-height: 32px;
    margin-bottom: 0;
    text-align: right;
    letter-spacing: 1px;
}

.table_content {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    border: 1px solid #000;
    border-bottom: none;
    box-sizing: border-box;
}

.table {
    width: 100%;
}

.thead {
    width: 100%;
    border-bottom: 1px solid #000;
}

.thead td {
    min-width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #000;
}

.thead td:last-child {
    border-right: none;
}

.tbody {
    width: 100%;
    height: 100%;
}

.tbody tr {
    border-bottom: 1px solid #000;
}

.tbody tr:last-child {
    border-bottom: none;
}

.tbody td {
    min-width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #000;
    outline: none;
}

.tbody td:last-child {
    border-right: none;
}

.tbody .layui-input {
    width: 100%;
    height: 100%;
    border: none;
}

.tbody input[type="checkbox"] {
    vertical-align: middle;
    margin: 0 5px;
}

.table_foot {
    display: flex;
    height: 120px;
    border: 1px solid #000;
    border-top: none;
    box-sizing: border-box;
}

.table_foot .table_three {
    width: 60px;
    min-width: 60px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

.table_foot .textarea {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.table_foot .textarea textarea {
    width: 100%;
    height: 100%;
    line-height: 20px;
    overflow: hidden;
    border: none;
    resize: none;
}

.table_sign {
    height: 42px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    display: flex;
}

.table_sign>div {
    flex: 1;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

.sign_text {
    flex: 1;
    /* flex: 0 0 60px; */
    min-width: 60px;
}

.table_sign .sign_time {
    flex: 3;
}

.table_sign .sign_img {
    flex: 4;
}

.table_sign .sign_img img {
    height: 40px;
}

/* 表2 */
.duty_content {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-bottom: none;
    border-right: none;
    box-sizing: border-box;
    overflow-x: auto;
    margin-bottom: 20px;
}

.duty_content table {
    width: 100%;
}

.duty_content th {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.duty_content td {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.duty_content .none {
    border-bottom: none;
}

.duty_cell {
    min-width: 60px;
    height: 28px;
    line-height: 28px;
    padding: 0 12px;
    outline: none;
}

.duty_cell .layui-input {
    height: 28px;
    border: none;
    padding: 0;
}

.break td:nth-child(2) {
    border-right: none;
}

.duty_content input[type="checkbox"] {
    vertical-align: middle;
    margin: 0 5px;
}

.duty_foot {
    display: flex;
    height: 120px;
    border-bottom: 1px solid #000;
    /* border-top: none; */
    box-sizing: border-box;
}

.duty_foot .table_three {
    width: 60px;
    min-width: 60px;
    height: 120px;
    text-align: center;
    border-right: 1px solid #000;
    box-sizing: border-box;
}

.duty_foot .textarea {
    flex: 1;
    border-right: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
}

.duty_foot .textarea textarea {
    width: 100%;
    height: 100%;
    line-height: 20px;
    overflow: hidden;
    border: none;
    resize: none;
}