* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  cursor: default;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
}
/* 页面检索框样式 */
.layui_retr {
  height: 40px;
}
.layui_retr .layui-form-item {
  margin-bottom: 0;
}
.layui_retr .retr_select {
  width: 150px;
}
.layui_retr .retr_time {
  width: 200px;
}
