html {
  height: 100%;
}
body {
  height: 100%;
  box-sizing: border-box;
  padding-top: 40px;

  /* overflow: hidden; */
}
.layui_retr {
  width: 100%;
  height: 40px;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}
.layui_retr .layui-form-item {
  margin-bottom: 0;
}
.layui_retr .layui-inline {
  margin: 0;
}
.layui_retr .layui-input-inline {
  width: auto;
}
.layui_retr .retr_select {
  width: 150px;
}
.xmselect {
  width: 200px;
}
xm-select .scroll-body {
  padding-left: 0px;
  overflow: hidden;
}
xm-select > .xm-body .xm-body-custom * {
  box-sizing: border-box !important;
}
xm-select .xm-body {
  width: 510px !important;
}

/* 表1 */
.table_box {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.table_head {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 20px 0 30px 0px;
}
/* 日期 */
.table_date {
  height: 32px;
  line-height: 32px;
  margin-bottom: 0;
}
.table_date .layui-inline {
  width: 100%;
  text-align: right;
  margin: 0;
}
.table_date .layui-input-inline {
  width: auto;
  float: none;
  margin: 0;
}
.table_date .date_input {
  width: 30px;
}
.table_date .layui-input {
  height: 32px;
  line-height: 32px;
  border: none;
}
/* 内容 */
.table_content {
  border-right: none;
  border-bottom: none;
  margin: 5px 0;
  overflow: hidden;
}
.table_content_inside {
  min-width: 100%;
  overflow-x: auto;
  border: 1px solid #000;
  border-right: none;
  box-sizing: border-box;
}

/* 表一 */
.table .thead tr,
.table .tbody tr {
  border-bottom: 1px solid #000;
}
.table .tbody tr:last-child {
  border-bottom: none;
}
.table .thead td {
  min-width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #000;
}
/* .table .thead th {
  min-width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #000;
} */
.table .tbody td {
  min-width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #000;
}

/* 签名和概述 */
.table .table_foot {
  display: flex;
  height: 120px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.table .table_foot .table_three {
  flex: 1;
  height: 120px;
  line-height: 120px;
  text-align: center;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  box-sizing: border-box;
}
.table .table_foot .textarea {
  flex: 14;
  padding: 6px 10px;
}
.table .table_foot .textarea textarea {
  width: 100%;
  height: 100%;
  line-height: 20px;
  overflow: hidden;
  border: none;
  resize: none;
}
/* 签名 */
.table_sign {
  height: 42px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  display: flex;
}
.table_sign > div {
  flex: 1;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-right: 1px solid #000;
  box-sizing: border-box;
}
.sign_text {
  flex: 0 0 60px;
  width: 60px;
}
.table_sign .sign_time {
  flex: 3;
}
.table_sign .sign_img {
  flex: 4;
}
.table_sign .sign_img img {
  height: 40px;
}
/* 表一结束 */

/* 表二 */
.duty * {
  outline: none;
}
.duty .thead tr,
.duty .tbody tr {
  border-bottom: 1px solid #000;
}
/* .duty .thead th {
  min-width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-right: 1px solid #000;
} */
.duty .thead td {
  min-width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-right: 1px solid #000;
}
.duty .tbody td {
  min-width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  border-right: 1px solid #000;
}
.duty .dutyType {
  height: 100%;
  text-align: left;
  padding-left: 10px;
  box-sizing: border-box;
}
.duty tfoot td {
  text-align: center;
  min-width: 60px;
  border-right: 1px solid #000;
}
.duty tfoot .layui-textarea {
  height: 120px;
  resize: none;
  border: none;
  word-break: keep-all;
  overflow: hidden;
  white-space: nowrap;
}
