<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>值班管理>>值班记录</title>
    <link rel="stylesheet" href="../../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/dutyTable.css" />
</head>

<body>
    <div class="layui-form print">
        <div class="layui-item">
            <div class="layui-inline line">
                <div class="layui-inline">
                    <select name="id" id="site" lay-filter="selectFilter"></select>
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-inline">
                    <select name="time" id="time" lay-submit lay-filter="timeSelect"></select>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm" id="print">打印</button>
                </div>
            </div>
        </div>
    </div>

    <div class="charts" id="charts">
        <div class="charts_box" id="chartsBox">
            <div class="line" id="wl"></div>
            <div class="line" id="ws"></div>
            <div class="line" id="at"></div>

            <div class="line" id="bp"></div>
            <div class="line" id="hu"></div>
            <div class="line" id="vb"></div>

            <div class="line" id="sl"></div>
            <div class="line" id="wt"></div>
            <div class="line" id="rn"></div>
        </div>
    </div>

    <div class="layui-fluid table_box">
        <div id="tableBox">
            <div class="table_head">值班记录表Ⅰ</div>
            <div class="table_date" id="tableDate"></div>
            <div class="table_content table">
                <div class="table_content_inside" id="inside"></div>
                <div class="table_foot">
                    <div class="table_three">值班概述</div>
                    <div class="textarea">
                        <textarea id="desc"></textarea>
                    </div>
                </div>
                <div class="table_sign">
                    <div class="sign_text">签名</div>
                    <div class="sign_time">17-08时值班员</div>
                    <div class="sign_img">
                        <img id="onNight" src="">
                    </div>
                    <div class="sign_time">08-17时值班员</div>
                    <div class="sign_img">
                        <img id="onDay" src="">
                    </div>
                </div>
            </div>
            <p style="page-break-before: always;"></p>
            <div class="table_head">值班记录表Ⅱ</div>

            <div class="table_content duty">
                <div class="table_content_inside" id="dutyInside"></div>
            </div>
        </div>
    </div>
</body>
<script src="../../assets/lib/layui/layui.js"></script>
<script src="../../assets/lib/jquery.js"></script>
<script src="../../assets//lib/print/jQuery.print.js"></script>
<script src="../../assets/lib/echarts.js"></script>
<script src="../../assets/lib/xmselect.js"></script>
<script>
    layui.config({
        base: "../../assets/"
    }).extend({
        http: "api/http",
        dutyTable: "js/dutyTable",
    }).use("dutyTable");
</script>

</html>