<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>值班管理>>值班记录</title>
    <link rel="stylesheet" href="../../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/dutyTable.css" />
</head>

<body>
    <div class="layui-form print">
        <div class="layui-item">
            <div class="layui-inline line">
                <div class="layui-inline">
                    <select name="id" id="site" lay-filter="selectFilter"></select>
                </div>
            </div>

            <div class="layui-inline">
                <div class="layui-inline">
                    <select id="grade" lay-filter="grade"></select>
                </div>
                <div class="layui-inline">
                    <select name="time" id="time"></select>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm" lay-submit lay-filter="querybtn">查询</button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm" lay-submit lay-filter="subbtn">保存</button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layui-btn-sm" id="print">打印</button>
                </div>
            </div>
        </div>
    </div>

    <div class="charts" id="charts">
        <div class="charts_box" id="chartsBox">
            <div class="line" id="wl"></div>
            <div class="line" id="ws"></div>
            <div class="line" id="wd"></div>

            <div class="line" id="at"></div>
            <div class="line" id="bp"></div>
            <div class="line" id="hu"></div>

            <div class="line" id="sl"></div>
            <div class="line" id="wt"></div>
            <div class="line" id="vb"></div>

            <div class="line" id="rn"></div>
            <div class="line" id="ybg"></div>
        </div>
    </div>

    <div class="table_box">
        <div id="tableBox">
            <div class="table_head">值班记录表Ⅰ</div>
            <div class="table_date" id="recordTime">2022年6月6日至2022年6月7日</div>
            <div class="table_content">
                <table cellspacing="0" cellpadding="0" border="0" class="table">
                    <tbody class="thead">
                        <tr id="thead">
                            <td>时间</td>
                            <td>测点</td>
                            <td>北仑</td>
                            <td>独山</td>
                        </tr>
                    </tbody>
                    <tbody class="tbody" id="tbody">
                        <tr id="wl17">
                            <td rowspan="2">17时</td>
                            <td>潮位</td>
                            <td contenteditable></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>风速</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="2">18时</td>
                            <td>潮位</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>风速</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="2">19时</td>
                            <td>潮位</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>风速</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="2">20时</td>
                            <td>潮位</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>风速</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>21时-07时</td>
                            <td colspan="2">
                                正常<input type="checkbox" title="正常" checked="">
                                不正常<input type="checkbox" title="不正常">
                            </td>
                            <td colspan="11">
                                <input type="text" class="layui-input">
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">08时</td>
                            <td>潮位</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>风速</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table_foot">
                <div class="table_three">值班概述</div>
                <div class="textarea">
                    <textarea id="desc"></textarea>
                </div>
            </div>
            <div class="table_sign">
                <div class="sign_text">签名</div>
                <div class="sign_time">17-08时值班员</div>
                <div class="sign_img" id="onNight">
                    <!-- <p>
                        <img src="http://192.168.1.178:8006/static/sign/745c389401c111eda8fc0c96e69aea3920220712.png">
                        <i class="layui-icon deleteImg" type="onNight">&#x1006;</i>
                    </p> -->
                </div>
                <div class="sign_time">08-17时值班员</div>
                <div class="sign_img" id="onDay">
                    <!-- <p>
                        <img src="http://192.168.1.178:8006/static/sign/745c389401c111eda8fc0c96e69aea3920220712.png">
                        <i class="layui-icon deleteImg" type="onNight">&#x1006;</i>
                    </p> -->
                </div>
            </div>
            <p style="page-break-before:always"></p>
            <div class="table_head">值班记录表Ⅱ</div>
            <div class="duty_content">
                <table cellspacing="0" cellpadding="0" border="0">
                    <thead>
                        <tr id="dutyTheader">
                            <th rowspan="2">
                                <div class="duty_cell">时间</div>
                            </th>
                            <th rowspan="2">
                                <div class="duty_cell">视频</div>
                            </th>
                            <th rowspan="2">
                                <div class="duty_cell">地波雷达</div>
                            </th>
                            <th rowspan="2">
                                <div class="duty_cell">GNSS</div>
                            </th>
                            <th colspan="2">
                                <div class="duty_cell">志愿船</div>
                            </th>
                            <th colspan="2" id="buoy">
                                <div class="duty_cell">浮标</div>
                            </th>
                            <th rowspan="4">
                                <div class="duty_cell">机房环控</div>
                            </th>
                            <th rowspan="2">
                                <div class="duty_cell">其他说明</div>
                            </th>
                        </tr>
                        <tr id="dutyThead">
                            <!-- <th>
                                <div class="duty_cell">近岸</div>
                            </th>
                            <th>
                                <div class="duty_cell">远洋</div>
                            </th>
                            <th>
                                <div class="duty_cell">测试浮标1</div>
                            </th>
                            <th>
                                <div class="duty_cell">测试浮标2</div>
                            </th> -->
                        </tr>
                    </thead>
                    <tbody id="dutyTbody">

                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <td class="title">
                                值<br>
                                班<br>
                                概<br>
                                述<br>
                            </td>
                            <td colspan="99999" class="dutyDesc">
                                <textarea class="layui-textarea" id="dutyDesc"></textarea>
                            </td>
                        </tr>
                    </tfoot> -->
                </table>

                <div class="duty_foot">
                    <div class="table_three">
                        值<br>
                        班<br>
                        概<br>
                        述<br>
                    </div>
                    <div class="textarea">
                        <textarea id="dutyDesc"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../assets/lib/layui/layui.js"></script>
<script src="../../assets/lib/jquery.js"></script>
<script src="../../assets//lib/print/jQuery.print.js"></script>
<script src="../../assets/lib/echarts.js"></script>
<script>
    layui.config({
        base: "../../assets/"
    }).extend({
        http: "api/http",
        dutyTable: "js/dutyTable",
    }).use("dutyTable");
</script>

</html>