<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>值班管理>>值班记录</title>
    <link rel="stylesheet" href="../../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/dutyTable.css" />
</head>

<body>
    <div class="layui-form print">
        <div class="layui-item">
            <div class="layui-inline readonly">
                <select name="time" id="time"></select>
            </div>
            <div class="layui-inline readonly">
                <button class="layui-btn layui-btn-sm layui-btn-normal readonly" lay-submit lay-filter="lookup"
                    id="lookup">查询</button>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm" id="print">打印</button>
            </div>
            <div class="layui-inline" id="saveBtn">
                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="saveBtn">保存</button>
            </div>
        </div>
    </div>

    <div class="print_contents" id="printContents">
        <div class="layui-fluid table_box" id="table"></div>
        <p style="page-break-before: always;"></p>
        <div class="layui-fluid duty_box" id="duty"></div>
    </div>
</body>
<script src="../../assets/lib/layui/layui.js"></script>
<script src="../../assets/lib/jquery.js"></script>
<script src="../../assets//lib/print/jQuery.print.js"></script>
<script>
    layui.config({
        base: "../../assets/"
    }).extend({
        http: "api/http",
        utils: "../../store/utils",
        dutyTable: "js/dutyTable",
    }).use("dutyTable");
</script>

</html>