<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>业务管理>>大事记or仪器对比表</title>
    <link rel="stylesheet" href="../../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/facility.css" />
</head>

<body>
    <div class="layui-form layui_retr" lay-filter="example">
        <div class="layui-item">
            <div class="layui-inline layui_select">
                <select name="time" id="time"></select>
            </div>
            <div class="layui-inline">
                <button lay-submit lay-filter="query" class="layui-btn layui-btn-normal">查询</button>
                <button lay-submit lay-filter="subbtn" class="layui-btn">保存</button>
            </div>
        </div>
    </div>
    <div class="layui-fluid" id="table">
        <!-- <div class="tableHead">海洋自动观测站仪器巡检记录表</div>
        <table cellspacing="0" cellpadding="0" border="1" class="table">
            <tbody>
                <tr>
                    <td colspan="2"> 一、仪器运行情况检查</td>
                </tr>
                <tr>
                    <td rowspan="4">系统主板</td>
                    <td>
                        <div class="checkbox">
                            <span class="strong">主面板:</span>
                            <p><input type="checkbox"><label>亮</label></p>
                            <p><input type="checkbox"><label>不亮</label></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <span class="strong">水文气象板灯:</span>
                            <p><input type="checkbox"><label>亮</label></p>
                            <p><input type="checkbox"><label>不亮</label></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <span class="strong">数据传输板灯:</span>
                            <p><input type="checkbox"><label>亮</label></p>
                            <p><input type="checkbox"><label>不亮</label></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <span class="label_span">其他:</span><input type="text" class="layui-input">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>风传感器</td>
                    <td>
                        <div class="checkbox">
                            <span class="strong">固定程度:</span>
                            <p><input type="checkbox"><label>正常</label></p>
                            <p><input type="checkbox"><label>需固定</label></p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td rowspan="2">温湿度传感器</td>
                    <td>
                        <div class="checkbox">
                            <span class="strong">洁净度:</span>
                            <p><input type="checkbox"><label>干净</label></p>
                            <p><input type="checkbox"><label>需擦洗</label></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <span class="strong">百叶箱固定程度:</span>
                            <p><input type="checkbox"><label>正常</label></p>
                            <p><input type="checkbox"><label>需固定</label></p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td rowspan="2">雨量传感器</td>
                    <td>
                        <div class="checkbox">
                            <span class="strong">洁净度:</span>
                            <p><input type="checkbox"><label>干净</label></p>
                            <p><input type="checkbox"><label>需擦洗</label></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <span class="strong">有否堵塞:</span>
                            <p><input type="checkbox"><label>干净</label></p>
                            <p><input type="checkbox"><label>需疏通</label></p>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>气压传感器</td>
                    <td><input type="text" class="layui-input"></td>
                </tr>

                <tr>
                    <td>温盐传感器</td>
                    <td>
                        <div class="checkbox">
                            <span class="strong">洁净度:</span>
                            <p><input type="checkbox"><label>干净</label></p>
                            <p><input type="checkbox"><label>需擦洗</label></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>二、仪器维护、维修情况记录</span>
                        <div class="textarea">
                            <textarea></textarea>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
        <div class="tfoot">
            <div>
                <span>检查人：</span>
                <p contenteditable></p>
            </div>
            <div>
                <span>审核：</span>
                <p contenteditable></p>
            </div>
            <div>
                <p contenteditable></p>年
                <p contenteditable></p>月
                <p contenteditable></p>日
            </div>
        </div> -->
    </div>
</body>
<script src="../../assets/lib/layui/layui.js"></script>
<script src="../../assets/lib/tinymce/tinymce.js"></script>
<script>
    layui.config({
        base: "../../assets/"
    }).extend({
        http: "api/http",
        facility: "js/facility",
    }).use("facility");
</script>