<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>观测系统运行监控软件平台</title>
    <link rel="stylesheet" href="../../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/common/layer.css" />
    <link rel="stylesheet" href="../../assets/css/home.css">
</head>

<body class="layui-layout-body">
    <div class="layout_side">
        <div class="layui-header">
            <div class="layui-logo" onclick="routerTo('map')">后台管理系统</div>
        </div>
        <div class="layui-side">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" id="sideMenu"></ul>
            </div>
        </div>
    </div>

    <div class="layout_body">
        <div class="layout_nav">
            <div class="layout_crumbs" id="breadcrumb">
                <!-- <span class="layui-breadcrumb" id="breadcrumb">
                    <a href="#">首页</a>
                    <a href="/demo/">演示</a>
                    <a><cite>导航元素</cite></a>
                </span> -->
            </div>
            <div class="layout_user">
                <span id="user">admin</span>
                <i class="layui-icon layui-icon-down"></i>
            </div>
        </div>
        <div class="layui-tab" lay-filter="home" lay-allowclose="true">
            <ul class="layui-tab-title" id="tabs">
                <!-- <li class="layui-this">网站设置</li>
                <li>用户管理</li>
                <li>权限分配</li>
                <li>商品管理</li>
                <li>订单管理</li> -->
            </ul>
            <div class="layui-tab-content">
                <!-- <div class="layui-tab-item layui-show">
                   <iframe src="./site.html" frameborder="0" class="iframe"></iframe>
                </div>
                <div class="layui-tab-item">
                    <iframe src="./systemStaff.html" frameborder="0" class="iframe"></iframe>
                </div>
                <div class="layui-tab-item">内容3</div>
                <div class="layui-tab-item">内容4</div>
                <div class="layui-tab-item">内容5</div> -->
            </div>
        </div>
    </div>
    <script src="../../assets/lib/layui/layui.js"></script>
    <script>
        layui.config({
            base: "../../assets/"
        }).extend({
            http: "api/http",
            home: "js/home",
        }).use("home");
    </script>
</body>

</html>