<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>系统设置>>站点信息</title>
    <link rel="stylesheet" href="../../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/live.css" />
</head>

<body>
    <div class="layui-form layui_retr">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline retr_select">
                    <select name="type" id="type">
                        <option>全部</option>
                        <option>一般</option>
                        <option>关键</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button lay-submit lay-filter="subBtn" class="layui-btn layui-btn-normal">
                        查询
                    </button>
                </div>
                <!-- <div class="layui-input-inline">
                    <button lay-submit lay-filter="playBtn" class="layui-btn layui-btn-normal">
                        播放
                    </button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="live">
        <video id="live" class="centeredVideo" controls autoplay width="960" height="540" muted>Your browser is
            too old which doesn't support HTML5 video.</video>
    </div>
</body>
<script src="../../assets/lib/layui/layui.js"></script>
<script src="../../assets/lib/flv.min.js"></script>
<script>
    layui.config({
        base: "../../assets/"
    }).extend({
        http: "api/http",
        live: "js/live",
    }).use("live");
</script>

</html>