<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据查询>>报警记录</title>
    <link rel="stylesheet" href="../../assets/lib/layui/css/layui.css">
    <link rel="stylesheet" href="../../assets/css/common/layer.css" />
    <link rel="stylesheet" href="../../assets/css/queryCall.css" />
</head>

<body>
    <div class="layui-form layui_retr">
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-input-inline retr_select">
                    <select name="type" id="alarmtype"> </select>
                </div>
            </div>
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <button lay-submit lay-filter="subBtn" class="layui-btn layui-btn-normal">
                        查询
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-hide" id="table" lay-filter="table"></div>
</body>
<script src="../../assets/lib/layui/layui.js"></script>
<script>
    layui.config({
        base: "../../assets/"
    }).extend({
        http: "api/http",
        tabList: "js/common/tabList",
        queryCall: "js/queryCall",
    }).use("queryCall");
</script>

</html>