<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <title>值班记录>>值班记录>>表1</title>
    <link rel="stylesheet" href="../assets/lib/layui/css/layui.css" />
    <link rel="stylesheet" href="../assets/css/dutyTable.css" />
</head>

<body>
    <div class="layui-form print">
        <div class="layui-item">
            <div class="layui-inline readonly">
                <select name="time" id="time"></select>
            </div>
            <div class="layui-inline readonly">
                <button class="layui-btn layui-btn-sm layui-btn-normal readonly" lay-submit lay-filter="lookup"
                    id="lookup">查询</button>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-sm" id="print">打印</button>
            </div>
            <div class="layui-inline" id="saveBtn">
                <button class="layui-btn layui-btn-sm layui-btn-normal" lay-submit lay-filter="saveBtn">保存</button>
            </div>
        </div>
    </div>
    <div class="layui-fluid" id="table">
        <!-- <div class="tableHead">值班记录表Ⅰ</div>
        <div class="layui-form-item tableDate">
            <div class="layui-inline">
                <div class="layui-input-inline dateInput">
                    <input type="text" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">年</div>

                <div class="layui-input-inline dateInputs">
                    <input type="text" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">月</div>

                <div class="layui-input-inline dateInputs">
                    <input type="text" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">日至</div>

                <div class="layui-input-inline dateInput">
                    <input type="text" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">年</div>

                <div class="layui-input-inline dateInputs">
                    <input type="text" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">月</div>

                <div class="layui-input-inline dateInputs">
                    <input type="text" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-input-inline">日</div>

            </div>
        </div>
        <div class="table">
            <div class="tableTitle">
                <div class="tableOne">
                    <div>时间</div>
                    <div>测点</div>
                </div>
                <div><input type="text" value="北仑" class="layui-input"></div>
                <div><input type="text" value="独山" class="layui-input"></div>
                <div><input type="text" value="万华" class="layui-input"></div>
                <div><input type="text" value="胡陈" class="layui-input"></div>
                <div><input type="text" value="高塘" class="layui-input"></div>
                <div><input type="text" value="松兰山" class="layui-input"></div>
                <div><input type="text" value="健跳" class="layui-input"></div>
                <div><input type="text" value="石浦" class="layui-input"></div>
                <div><input type="text" value="桐照" class="layui-input"></div>
                <div><input type="text" value="乌沙山" class="layui-input"></div>
                <div><input type="text" value="黄避岙" class="layui-input"></div>
                <div><input type="text" value="渔山" class="layui-input"></div>
                <div><input type="text" value="梅山" class="layui-input"></div>
                <div><input type="text" value="镇海" class="layui-input"></div>
            </div>

            <div class="tableList">
                <div class="tableOne">
                    <div>17时</div>
                    <div class="oneItem">
                        <p>潮位</p>
                        <p>风速</p>
                    </div>
                </div>
                <div class="tableItem">
                    <div>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                    </div>
                    <div>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                    </div>
                </div>
            </div>

            <div class="tableList tableCheckbox">
                <div class="tableOne tableTwo">
                    <p>18时</p>
                </div>
                <div class="checkbox">
                    <p><input type="checkbox" /><label>正常</label></p>
                    <p><input type="checkbox" /><label>不正常</label></p>
                </div>
                <div class="stateInput">
                    <label>:</label>
                    <input type="text" class="layui-input">
                </div>
            </div>
            <div class="tableList tableCheckbox">
                <div class="tableOne tableTwo">
                    <p>19时</p>
                </div>
                <div class="checkbox">
                    <p><input type="checkbox" /><label>正常</label></p>
                    <p><input type="checkbox" /><label>不正常</label></p>
                </div>
                <div class="stateInput">
                    <label>:</label>
                    <input type="text" class="layui-input">
                </div>
            </div>

            <div class="tableList">
                <div class="tableOne">
                    <div>20时</div>
                    <div class="oneItem">
                        <p>潮位</p>
                        <p>风速</p>
                    </div>
                </div>
                <div class="tableItem">
                    <div>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                    </div>
                    <div>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                    </div>
                </div>
            </div>

            <div class="tableList tableCheckbox">
                <div class="tableOne tableTwo">
                    <p>21-07时</p>
                </div>
                <div class="checkbox">
                    <p><input type="checkbox" /><label>正常</label></p>
                    <p><input type="checkbox" /><label>不正常</label></p>
                </div>
                <div class="stateInput">
                    <label>:</label>
                    <input type="text" class="layui-input">
                </div>
            </div>

            <div class="tableList">
                <div class="tableOne">
                    <div>08时</div>
                    <div class="oneItem">
                        <p>潮位</p>
                        <p>风速</p>
                    </div>
                </div>
                <div class="tableItem">
                    <div>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                    </div>
                    <div>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                    </div>
                </div>
            </div>

            <div class="tableList tableCheckbox">
                <div class="tableOne tableTwo">
                    <p>09时</p>
                </div>
                <div class="checkbox">
                    <p><input type="checkbox" /><label>正常</label></p>
                    <p><input type="checkbox" /><label>不正常</label></p>
                </div>
                <div class="stateInput">
                    <label>:</label>
                    <input type="text" class="layui-input">
                </div>
            </div>
            <div class="tableList tableCheckbox">
                <div class="tableOne tableTwo">
                    <p>10时</p>
                </div>
                <div class="checkbox">
                    <p><input type="checkbox" /><label>正常</label></p>
                    <p><input type="checkbox" /><label>不正常</label></p>
                </div>
                <div class="stateInput">
                    <label>:</label>
                    <input type="text" class="layui-input">
                </div>
            </div>

            <div class="tableList">
                <div class="tableOne">
                    <div>11时</div>
                    <div class="oneItem">
                        <p>潮位</p>
                        <p>风速</p>
                    </div>
                </div>
                <div class="tableItem">
                    <div>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                    </div>
                    <div>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                    </div>
                </div>
            </div>

            <div class="tableList tableCheckbox">
                <div class="tableOne tableTwo">
                    <p>12时</p>
                </div>
                <div class="checkbox">
                    <p><input type="checkbox" /><label>正常</label></p>
                    <p><input type="checkbox" /><label>不正常</label></p>
                </div>
                <div class="stateInput">
                    <label>:</label>
                    <input type="text" class="layui-input">
                </div>
            </div>
            <div class="tableList tableCheckbox">
                <div class="tableOne tableTwo">
                    <p>13时</p>
                </div>
                <div class="checkbox">
                    <p><input type="checkbox" /><label>正常</label></p>
                    <p><input type="checkbox" /><label>不正常</label></p>
                </div>
                <div class="stateInput">
                    <label>:</label>
                    <input type="text" class="layui-input">
                </div>
            </div>

            <div class="tableList">
                <div class="tableOne">
                    <div>14时</div>
                    <div class="oneItem">
                        <p>潮位</p>
                        <p>风速</p>
                    </div>
                </div>
                <div class="tableItem">
                    <div>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                    </div>
                    <div>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                        <p><input type="text" class="layui-input"></p>
                    </div>
                </div>
            </div>

            <div class="tableList tableCheckbox">
                <div class="tableOne tableTwo">
                    <p>15时</p>
                </div>
                <div class="checkbox">
                    <p><input type="checkbox" /><label>正常</label></p>
                    <p><input type="checkbox" /><label>不正常</label></p>
                </div>
                <div class="stateInput">
                    <label>:</label>
                    <input type="text" class="layui-input">
                </div>
            </div>
            <div class="tableList tableCheckbox">
                <div class="tableOne tableTwo">
                    <p>16时</p>
                </div>
                <div class="checkbox">
                    <p><input type="checkbox" /><label>正常</label></p>
                    <p><input type="checkbox" /><label>不正常</label></p>
                </div>
                <div class="stateInput">
                    <label>:</label>
                    <input type="text" class="layui-input">
                </div>
            </div>


            <div class="tableFoot">
                <div class="tableThree">值班概述</div>
                <div class="textarea">
                    <textarea></textarea>
                </div>
            </div>

            <div class="tableList">
                <div class="tableOne">
                    <div>签名</div>
                </div>
                <div class="time">17-08时值班员</div>
                <div class="text">
                    <img id="onNight">
                </div>
                <div class="time">08-17时值班员</div>
                <div class="text">
                    <img id="onDay" src="http://192.168.1.156:8006/static/111.jpg">
                </div>
            </div>
        </div> -->
    </div>
</body>
<script src="../assets/lib/layui/layui.js"></script>
<script src="../assets/lib/jquery.js"></script>
<script src="../assets//lib/print/jQuery.print.js"></script>
<script>
    layui
        .config({
            base: "../assets/",
        })
        .extend({
            http: "api/http",
            dutyTable: "js/dutyTable",
        })
        .use("dutyTable");
</script>

</html>